* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html{
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
  }
  
  :root{
    --text-color: rgb(24, 24, 24);
    --color1: white;
    --color2: white;
    --color3: rgb(109, 109, 109);
  }
  
  body{
    color:var(--text-color);
    height: 100vh;
    margin: 0;
    background: var(--color1);
    /* overflow: hidden; */
  }
  
  #navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    background-color: var(--text-color);
    color: var(--color1);
    }
    
  header{
    font-size: 40px;
    font-weight: bolder;
  }
    
  #navbar ul {
    height: 100%;
    padding: 0;
    overflow-x: hidden;
  }
  
  
  
  #navbar li {
    color: var(--text-color);
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
  }
  
  #navbar a {
    display: block;
    padding: 1px 30px;
    color: var(--color1);
    text-decoration: none;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  #main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
    font-size: 20px;
  }
  
  /* .entry table:not(:last-of-type){
    border-bottom: 1px solid gray;
  } */
  
  
  
  hr{
    border: 1px solid var(--text-color);
  }
  
  .nav-link{
    text-decoration: none;
    color: black;
  }
  
  .nav-link:hover{
    color: black;
  
  }
  .nav-link:active{
    color:var(--text-color);
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width:50%;
  }
  
  .floating {
      animation-name: floating;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
  }
  
  @keyframes floating {
      0% { transform: translate(0, 0px); }
      50% { transform: translate(0, 10px); }
      100% { transform: translate(0, -0px); }
  }
  
  .aesthetic{
    letter-spacing: 10px;
  }
  
  
  #titular{
    font-size: 90px;
    text-align: left;
  }
  
  #corner-logo{
    width:75%;
    height: auto;
    margin-left: 25px;
    margin-top: 25px;
    border-radius: 50%;
  }
  
  /* .wrapper{
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
  } */
  
  section{
    padding:50px 0;
    width: auto;
    height: 100%;
    scroll-snap-align: start;
    white-space: normal;
    display: block;
  }
  
  .container{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  
  .left{
    float: left;
    margin: 0 15px 0 0;
  }
  
  .right{
    float: right;
    margin: 0 15px 0 0;
  }
    
    /* Particle container. */
  #particle-container {
      position: fixed;
      width: 100vw;
      height: 100vh;
  }
  
  li{
    padding: 0;
  }
  
  table{
    width: 100%;
    padding-bottom: 20px;
  }
  
  .second{
    vertical-align: top;
    max-width: 70%;
    text-align: left;
  }
  .first{
    vertical-align: top;
    width:50%;
    text-align: left;
  }
  
  .small{
    width:7%
  }
  
  #dev-container{
    display: flex;
    justify-content:space-evenly;
    padding: 25px 0px;
  }
  
  
  .job-title{
    font-size: 25px;
    font-weight: 200;
  }
  .job-place{
    font-size: 20px;
    font-weight:lighter;
  }
  
  .date{
    text-align:right;
    font-style: italic;
    font-weight: lighter;
  }
  
  .sentence{
    font-size: 30px;
    font-weight: lighter;
  }
  
  p{
    color: var(--color3);
    margin: 0;
    font-size: 16px;
  }
  
  
  @media only screen and (max-width: 815px) {
    /* For mobile phones: */
    #navbar ul {
      border: 1px solid;
      height: 207px;
    }
  
    #navbar {
      display: none;
    }
  
    #main-doc {
      position: relative;
      margin-left: 0px;
      font-size: 16px;
      overflow-y:scroll;
    }
  
    #titular{
      font-size: 60px;
    }
    
    h1{
      margin-bottom: 0;
    }
  
    .aesthetic{
      letter-spacing: 0;
      text-align: left;
    }
    .center {
      display: block;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      width:75%;
    }
    #corner-logo{
      width:100%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
    .small{
      width: 10%;
    }
    header{
      font-size: 30px;
      font-weight: bolder;
      padding-bottom: 50px;
    }
  
    .job-title{
      font-size: 20px;
    }
  
    .job-place{
      font-size: 18px;
      font-weight:lighter;
    }
  
    .wrapper{
      scroll-snap-type: none;
      height: 100%
    }
    
    section{
      display: block;
      height: 100%;
    }
  
    body{
      overflow-y:scroll;
    }
  }
  
  
  